.filter-color {
  font-size: 22px;
}


.background {
  background-color: #3FC1C9;
  width: -webkit-fill-available;
  position: absolute;
  margin-top: -1px;
}

.btn-succes{
transform:scale(1.1);
transition: all 300ms;
font-weight: 800;
}


a {
  color: black;
 
}

.active{
  color: #3FC1C9 !important;
  font-weight: bolder !important;
  transform:scale(1.1);
}

.filter {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  margin-top: 15px;
  position: relative;
  left: -13px;
  cursor: pointer;
  color: #535353;
}

.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 15px 30px 0px;
}

.our-cart {
  font-size: 32px;
  text-align: left;
  color: #fff;
  margin-left: 20px;
  padding-top: 55px;
}

.foods__plato__txt {
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.foods__plato__info {
  max-width: 390px;
  color: #525252;
}

.foods {
  display: block;
  width: auto;
  height: auto;
  margin-top: 20px;
  border-radius: 90px 0 0 0;
  background-color: #F5F5F5;
  box-shadow: 0 -5px 15px -5px #333;
}

.foods__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.foods__plato {
  margin-top: 50px;
  margin-left: 45px;

}

.foods__plato img {
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  cursor: pointer;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.12);
}

.foods__plato img:hover {
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.3);
}

.foods__plato__add {
  float: right;
  position: relative;
  top: -69px;
  font-size: 19px;
  cursor: pointer;
  background-color: #3FC1C9;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
}

.btn--category {
  padding: 12px 12px;
  background-color: #fff;
  color: #929292;
  letter-spacing: 1px;
  margin: 0;
  font-size: 14px;
  flex: none;
  margin-left: 7px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  margin-left: 15px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 9px;
}

.foods__plato__price {
  font-size: 24px;
}

.foods__plato__add i {
  margin-right: 12px;
}

@media screen and (min-width: 1024px) {

  .foods__container {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
  }

  .category {
    justify-content: flex-start;
    overflow: inherit;
    margin-left: 40px;
  }

  .our-cart {
    margin-left: 60px;
  }

  .btn--category{
    margin-left: 25px;
  }
}
