<div class="background" >
    <h3 class="our-cart" >Nuestra carta</h3>
    
    <div class="primary">
      <div class="category">
        <a class="btn btn--category"  style="color: #3FC1C9;" href="#">Todos los platos</a>
    <a class="btn btn--category" href="#">Primeros Platos</a>
    <a class="btn btn--category" href="#">Segundos Platos</a>
    <a class="btn btn--category" href="#">Postres</a>
      </div>
    </div>
    
    <main>
        <div class="foods">
          <div class="filter">
        <i class=" filter-color  fas fa-filter"></i>
        <span>Filtrar</span>
          </div>
          
        <div class="foods__container">
          <div  class="foods__plato">
              <a [routerLink]="['/food-info']" >

            <h4 class="foods__plato__txt">Bocadillo Jamon Iberico</h4>
            <p class="foods__plato__info" >Con pan de centeno y queso manchego</p>
            <img src="https://d1cdwwbxrcefmn.cloudfront.net/plate_photos/apeteat_2018_bocatinjamonyorkquesoytomate_exp.jpg" alt="">
            <h4 class="foods__plato__price" >2.99€</h4>
            <span class="foods__plato__add" > <i class="fas fa-cart-plus"> </i>Añadir al carrito</span>
          </a>
          </div>
          <div class="foods__plato">
            <h4 class="foods__plato__txt">Bocadillo Jamon Iberico</h4>
            <p class="foods__plato__info" >Con pan de centeno y queso manchego</p>
            <img src="https://d1cdwwbxrcefmn.cloudfront.net/plate_photos/apeteat_2018_bocatinjamonyorkquesoytomate_exp.jpg" alt="">
            <h4 class="foods__plato__price" >2.99€</h4>
            <span class="foods__plato__add" > <i class="fas fa-cart-plus"> </i>Añadir al carrito</span>
          </div>
          <div class="foods__plato">
            <h4 class="foods__plato__txt">Bocadillo Jamon Iberico</h4>
            <p class="foods__plato__info" >Con pan de centeno y queso manchego</p>
            <img src="https://d1cdwwbxrcefmn.cloudfront.net/plate_photos/apeteat_2018_bocatinjamonyorkquesoytomate_exp.jpg" alt="">
            <h4 class="foods__plato__price" >2.99€</h4>
            <span class="foods__plato__add" > <i class="fas fa-cart-plus"> </i>Añadir al carrito</span>
          </div>
        </div>
      
        </div>
        </main>
    </div>