<div class="background" >
    <h3 class="our-cart" >Nuestra carta</h3>
    
    <div class="primary">
      <div class="category">
        <a class="btn btn--category"  style="color: #3FC1C9;" href="#">Todos los platos</a>
    <a class="btn btn--category" href="#">Primeros Platos</a>
    <a class="btn btn--category" href="#">Segundos Platos</a>
    <a class="btn btn--category" href="#">Postres</a>
      </div>
    </div>
    
    <main>
        <div class="foods">
          <div class="filter">
        <i class=" filter-color  fas fa-filter"></i>
        <span>Filtrar</span>
          </div>
          
        <div class="foods__container">

            <div *ngFor="let plato of platos" class="foods__plato">
                <a [routerLink]="['/carta/plato',plato._id]" >
              <h4 class="foods__plato__txt">{{plato.name}}</h4>
              <p class="foods__plato__info" >{{plato.title}}</p>
              <img src="{{plato.image}}" alt="">
              <h4 class="foods__plato__price" >{{plato.price | currency: " "  }}€</h4>
              </a>
            <a [routerLink]="['/pago']"> <span class="foods__plato__add" > <i class="fas fa-cart-plus"> </i>Añadir al carrito</span> </a> 
            
            </div>

        </div>
        </div>
        </main>

        <app-footer></app-footer>
    </div>
