.foods__plato__add {
    top: -69px;
    font-size: 19px;
    cursor: pointer;
    background-color: #3FC1C9;
    color: #fff;
    padding: 12px;
    padding-left: 35px;
  padding-right: 35px;
    border-radius: 12px;
    text-transform: uppercase;
  }
  .fa-drumstick-bite{
    margin-right: 8px;
  }
  .card__description-btn{
      margin-top: 12px;
  }
  .foods__plato__add i{
    padding-right: 12px;
  }

  
  .card {
   
    flex-direction: column;
    background-color: #fff;
    margin-top: -1px;
    overflow-x: hidden;
  }
  .cart-top{
    margin-top: 65px;
  }
  
  .card_image img {
    width: 385px;
    height: 250px;
    margin-bottom: -35px;
    margin-right: 12px;
    border-radius:4px;
  }
  .card_image_back-btn{
    position: relative;
        top: -220px;
        background-color: #C4C4C4;
        color: #fff;
        padding: 5px;
     padding-right: 10px;
  
  }
  .card_image_back-btn i{
    padding: 9px;
  }
  
  
  .card-description {
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .card-description_title {
    font-size: 19px;
    text-align: center;
    font-weight: bold;
  }
  
  .card__description_info {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 12px;
    margin-top: -13px;
  }
  
  .card__description_info p {
    text-align: center;
    font-size: 17px;
    color: #636363;
  }
  .card_info{
        text-align: left;
        padding: -20px;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 25px;
        display: flex;
    justify-content: space-around;
    color: #4b4b4b;
  }
  
  .card_info p{
    font-size: 18px;
    font-weight: bold;
  }
  .card_info_content{
    width: 120px;
    display: inline-flex;
    flex-direction: column;
  }

  .card_info_title{
    margin-top: 70px;
  }
  
  .card_info_title h3{
    text-align: center;
    font-size: 16px;
  }
  
  .alergenos i{
    font-size: 20px;
  }
  .card__description_price{
    margin-top: -20px;
  }

  .card_info-container{
    display: flex;
    margin-bottom: 50px;
  }
  
  .card_info-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_info-rigt{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card_info-text{
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  
  .card_info-number{
    margin-top: -7px;
    font-size: 16px;
  }
  
  @media screen and (min-width: 1024px){
    .cart-top{
      padding-bottom: 30px;
      padding-top: 30px;
    }

    .card_image img {
      width: 655px;
      height: 440px;
      margin-left: 30px;
      margin-top: 20px;
    }
    
    .card_image_back-btn{
      display: none;
    }
    .card_image{
      display: inline;
    }

    .card_info{
      display: inline-flex;
      justify-content: space-between;
    }
    .card_info-1{
      padding-right: 30px;
    }
  
    .card-description{
      display: inline-flex;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      
    }
    .card__description_info{
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .card__description_info p{
      font-size: 24px;
      text-align: left;
    }
    .card-description_title{
      font-size: 28px;
      margin-top: 20px;
    }

    .foods__plato__add{
      padding: 16px;
      padding-left: 55px;
      padding-right: 55px;
    }
    .card__description-btn {
      margin-top: 48px;
      
    }
    .card__description_price{
      font-size: 24px;
    }
  
  
  }
  