<div class="background" >
              <main class="card">
                <div>
                  <div class="card_image">
                    <img src="https://d1cdwwbxrcefmn.cloudfront.net/plate_photos/apeteat_2018_bocatinjamonyorkquesoytomate_exp.jpg" alt="">
                    <a class="card_image_back-btn" [routerLink]="['/carta-de-platos']" href=""> <i class="fas fa-arrow-left"></i>  Volver atras</a>
                  </div>
            
                  <div class="card-description">
            
                    <div class="card-description_name">
                      <h2 class="card-description_title">BOCADILLO JAMON IBERICO</h2>
                    </div>
            
                    <div class="card__description_info">
                      <p>Bocadillo clasico de jamon york y tomate
                        con pan de centeno recien horneado y queso
                        manchego en lonchas.
                      </p>
                    </div>
                    <div class="card__description_price">
                <h3>Precio: 2.99€</h3>
                    </div>
            
                    <div class="card__description-btn">
                      <span class="foods__plato__add"> <i class="fas fa-plus"></i>Añadir al carrito</span>
                    </div>
              </div>
                  <!-- info prudcto -->
                  <div class="card_info">
                  <div class="card_info_content">
                    <div>
                  <p>Cantidad: 230G</p>
                    </div>
                    <div>
              <p>PREPARACION: ABRIR EL CONTENIDO DEL LA BOLSA Y CONSUMIR</p>
                    </div>
                    </div>
            
                    <div class="card_info_nutrition">
                      <div>
                    <p  class="alergenos">ALERGENOS:  <i class="fas fa-drumstick-bite"></i> <i class="fas fa-bread-slice"> </i> </p>
                      </div>
                      </div>
            
                      <hr>
                      <div class="card_info_title">
                <h3>VALOR NUTRICIONAL POR 100G</h3>
                      </div>
            
                  </div>
                </div>
            
            
              </main>
</div>