<div>
              <main class="card">
                <div class="cart-top" >
                  <div class="card_image">
                    <img src="{{plato?.image_xl}}" alt="">
                    <a class="card_image_back-btn" [routerLink]="['/carta']" href=""> <i class="fas fa-arrow-left"></i>  Volver atras</a>
                  </div>
            
                  <div class="card-description">
            
                    <div class="card-description_name">
                      <h2 class="card-description_title">{{plato?.name}}</h2>
                    </div>
            
                    <div class="card__description_info">
                      <p>{{plato?.description}}
                      </p>
                    </div>
                    <div class="card__description_price">
                <h3>Precio: {{plato?.price | currency: " "  }}€</h3>
                    </div>

                    <div class="card__description-btn">
                       <a  (click)="addToCart(plato)" ><span class="foods__plato__add"> <i class="fas fa-plus"></i>Añadir al carrito</span> </a>
                    </div>
              </div>
                  <!-- info prudcto -->
                  <div class="card_info">
                      <div>
                      <p class="card_info-1" >Cantidad: {{plato?.cantidad}}G</p>
                    </div>
                    <div>
                      <p>ALERGENOS:  <i class="fas fa-drumstick-bite"></i> <i class="fas fa-bread-slice"> </i> </p>
                    </div>
                        </div>

                       
                </div>
               

                <div class="card_info_title">
                    <h3>VALOR NUTRICIONAL POR 100G</h3>
                          </div>

                <div class="card_info-container">
                  <div class="card_info-left">
    
                    <p class="card_info-text">Calorias</p>
                    <p class="card_info-number" >240,16g</p>
                    <p class="card_info-text" >Carbohidratos</p>
                    <p class="card_info-number">23,3g</p>
                    <p class="card_info-text" >Azucares</p>
                    <p class="card_info-number">9,3g</p>
                    <p class="card_info-text" >Grasas saturada</p>
                    <p class="card_info-number">2,3g</p>
    
                  </div>
    
                  <div class="card_info-rigt">
    
                      <p class="card_info-text">Proteinas</p>
                      <p class="card_info-number" >240,16g</p>
                      <p class="card_info-text" >Grasas</p>
                      <p class="card_info-number">18,3g</p>
                      <p class="card_info-text" >Sal</p>
                      <p class="card_info-number">3,3g</p>
    
                  </div>
              </div>
              </main>
</div>

<app-footer></app-footer>