<div class="footer-main">
    <div class="footer-main_social">
      <ul class="footer-main_social-list">
        <li>
          <a class="media-icons" href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="media-icons" href="#"> <i class="fab fa-twitter"></i> </a>
        </li>
        <li>
          <a class="media-icons" href="#">
            <i class="fab fa-google-plus"></i>
          </a>
        </li>
        <li>
          <a class="media-icons" href="#"> <i class="fab fa-youtube"></i> </a>
        </li>
      </ul>
    </div>

    <div class="footer-menu-one">
      <ul class="footer-menu-list">
        <li><a class="link-footer" [routerLink]="['/']">Inicio</a></li>
        <li><a class="link-footer" href="">Sobre nosotros</a></li>
        <li><a class="link-footer" href="">Servicio de empresas</a></li>
        <li><a class="link-footer" href="">Envios</a></li>
        <li><a class="link-footer" href="">Contactanos</a></li>
      </ul>
    </div>
    <div class="footer-img">  <a [routerLink]="['/']"> <img src="../../../assets/icons/logo12.png" alt=""> </a> </div>
  </div>

  <div class="footer-bottom">
          <p>&copy; Slowlyfood 2019 | <a href="">Terminos y condiciones</a> <p>
  </div>
