/* ------------MENU---------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 176, 176);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.exit {
  position: absolute;
  margin-top: 130px;
}

.active {
  color: black;
}

.disabled {
  background-color: #fff;
  color: #a4b0be;
  border: #ccc;
  cursor: auto;
}

.number {
  display: flex;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  color: #3FC1C9;
  font-size: 15px;
  margin-right: 6px;
  margin-bottom: 12px;
  padding-bottom: 20px;
  font-weight: bold;
}


.nav-menu__main {
  max-width: 100%;
  max-height: 100%;
  padding: 0px 18px 0 18px;
  background-color: #3FC1C9;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  opacity: 0 !important;
}


.nav-shopping__menu {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.nav-menu__display {
  display: none;
  background: rgb(29, 166, 167);
  background: linear-gradient(0deg, rgb(30, 176, 181) 50%, rgb(88, 190, 203) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s ease;
}

.nav-menu__list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  right: 40px;
}

.main-header {
  position: fixed;
  z-index: 20;
  width: -webkit-fill-available;
}

.nav-menu__item {
  display: block;
  float: none;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  transition: 150ms all;
  font-size: 14px;
  padding-bottom: 12px;
  cursor: pointer;
}



.nav-menu__item:not(:first-child) {
  margin-left: 0;
}

.nav-menu__item a:hover {
  color: #333;
}

.log-out {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu__text {
  padding: 10px 27px;
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  transform: translateX(-20px);
  transition: all 0.2s ease;
}

.nav-btn {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 20000;
  border-radius: 50%;
}

.nav-btn i {
  display: block;
  width: 24px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}

.user-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-btn i:nth-child(1) {
  margin-top: 16px;
}

.nav-btn i:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}

.nav-btn i:nth-child(3) {
  margin-top: 4px;
}

#nav:checked+.nav-btn i {
  background: #fff;
  transition: transform 0.3s ease-in;
}

#nav:checked+.nav-btn i:nth-child(1) {
  transform: translateY(8px) rotate(135deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
  opacity: 0;
  transition: transform 0.4s ease-out;
}

#nav:checked+.nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(45deg);
}

#nav:checked~.nav-menu__display {
  z-index: 9990;
  opacity: 1;
  position: fixed;
  display: block;
}

#nav:checked~.nav-menu__display ul li a {
  opacity: 1;
  transform: translateX(0);
  font-size: 18px;
}


.hidden {
  display: none;
}

.hiddenPhone {
  padding-top: 12px;
  display: flex;
  align-self: center;
}

/*Desktop*/

@media screen and (min-width: 1024px) {
  .nav-menu__item a {
    opacity: 1;
  }

  .hiddenPhone {
    display: none;
  }

  .nav-menu__text {
    padding: 10px 38px;
  }

  .nav-menu__display {
    opacity: 1;
    background: #F5F5F5;
    height: 0px;
    z-index: 200;
    position: relative;
    display: block;

  }

  .nav-menu__main {
    padding: 0px 18px 20px 18px;
  }

  .nav-menu__logo {
    position: relative;
    margin-left: 40px;
    margin-top: 18px;
  }

  .nav-shopping__menu {
    position: relative;
    left: 80%;
    margin-top: 18px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-menu__logo a img {
    width: 145px;
    height: 58px;
  }

  nav {
    height: 65px;
    opacity: 1;
    background-color: #3FC1C9;
  }

  .nav-menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: -50px;
    width: 920px;
  }

  .nav-btn {
    display: none;
  }

  .nav-menu__item {
    width: auto;
    padding: 0;
  }

  .nav-container__logo {
    display: inline;
    font-size: 20px;
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
  }

  .nav-container__items {
    float: right;
    display: inline;
  }

  .nav-container__items li {
    display: inline-block;
    float: left;
  }

  .nav-container__links:not(:first-child) {
    margin-left: 48px;
  }

  .nav-container__links:last-child {
    margin-right: 24px;
  }

  .nav-container__links {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
}


:root {
  --primaryColor: #3FC1C9;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

.open-cart {
  height: 100%;
  width: 378px;
  background-color: #fff;
  color: #fff;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0px;
  transition: all 0.45s;
  z-index: 20000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cart {
  height: 100%;
  width: 380px;
  background-color: #fff;
  color: #fff;
  opacity: 1;
  position: fixed;
  top: 0;
  right: -380px;
  transition: all 0.3s;
  z-index: 20000;
}

.cart_overflow {
  max-width: 450px;
  max-height: 400px;
  overflow-y: auto;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}



.cart__content {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  color: var(--primaryColor);
  margin-left: 10px;
  margin-right: 10px;
}

.cart__content__item img {
  width: 135px;
  height: 95px;
  margin-top: 17px;
  border-radius: 5px;
}

.close-all{
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.41);
  top: 0;
  z-index: 3000;
  transition: all 0.1s;
}

.cart__txt {
  position: initial;
  margin-top: 25px;
  margin-bottom: 18px;
  font-size: 30px;
  color: #333;
  display: inline-block;
  margin-left: 120px;
}

.cart__content__item {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.cart__content__info {
  color: #333;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.cart__content_cont {
  display: flex;
  align-items: center;
}

.cart__item:hover {
  cursor: pointer;
}

.close-cart {
  position: absolute;
  top: -3px;
  right: 10px;
  text-decoration: none;
  color: #676767;
  font-size: 58px;
  cursor: pointer;
}

.fa-trash {
  margin-right: 15px;
  cursor: pointer;
  color: #888;
  font-size: 17px;
}

h4 {
  font-size: 12px;
}

.cart__close i {
  font-size: 35px;
  color: #333;
}

.item-amount {
  text-align: center;
  color: #333
}

.icon-chevron-down,
.icon-chevron-up {
  color: #888;
  cursor: pointer;
}


.cart-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart__content__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 25px;
}

.cart__content__footer h3 {
  color: #333;
}

.trash {
  cursor: pointer;
}

.cart-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: #fff;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.12);
}

.cart-btn:hover {
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}


/* Dropdown */
@media screen and (max-width: 480px) {
  .dropdown-content {
    display: none;
  }

  .fa-caret-down {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-flex;
  }

  .dropdown-content {
    border-radius: 6px;
    display: none;
    position: absolute;
    top: 30px;
    background-color: #F5F5F5;
    min-width: 260px;
    min-height: 120px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #4e4e4e;
    font-size: 14px;
    display: block;
    text-transform: capitalize;
    text-align: initial;
    padding-bottom: 12px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .dropdown-content a span {
    margin-left: 20px;
    margin-right: 12px;
    color: #3FC1C9;
    font-size: 18px;

  }


  .dropdown:hover .dropdown-content {
    display: block;
  }


  .dropdown-content a:hover {
    text-decoration: underline;
    text-decoration-color: #3FC1C9;
  }
}
