<main class="cont" >
  <h1>Gracias por tu compra!</h1>
  <h2>Estamos preparando tu pedido #35360</h2>
  <div class="loop-wrapper">
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="rock"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
  </div>
  <div class="container" >
   <div class="container-btn" >
    <a  class="modal__text second" [routerLink]="['/carta']" >Volver al menu</a>
   </div>
   <div class="container-btn" >
    <a  class="modal__text second" [routerLink]="['/orders']" >Ver mi Pedido</a>
   </div>
</div>
</main>
<app-footer></app-footer>