<div id="home-section">
    <div class="title">
      <h1 class="title__text">DISFRUTA DE UN ALMUERZO RICO Y SANO EN CULQUIER MOMENTO! <span class="icon-truck"></span> </h1>
    </div>
    <div class="menus-btn">
        <a [routerLink]="['/carta-de-platos']" [routerLinkActive]="['active']" class="modal__text" role="button">A comer!</a>
      </div>
    <!-- MODAL COMPLETA -->
    <div class="mainmodal">
      <a href="#modal" class="modal__text" role="button">Acceder a cuenta</a>
      <div id="modal" class="modal">
        <div class="modal__body">
          <a href="#" class="modal__close">&times;</a>
          <!-- CONTENIDO DE MODAL -->
          <div class="container">
            <div class=" formule form-container__sing-in">
              <div class="formule">
                <h1>Iniciar sesion</h1>
                <div class="form-container__social">
                  <a href="#" class="social social social--g"><span class="icon-google"></span></a>
                  <a href="#" class="social social--f"><span class="icon-facebook-square"></span></a>
                  <a href="#" class="social social--t"><span class="icon-twitter"></span></a>
                </div>
                <div class="form">
                  <div class="form-name">
                    <input required class="form__input" type="email" name="name" value="">
                    <label class="form__label label-name" for="name">
                      <span class="content-name">Email</span>
                    </label>
                  </div>
  
                </div>
                <div class="form">
                  <div class="form-name">
                    <input required class="form__input" type="password" name="name" value="">
                    <label class="form__label label-name" for="name">
                      <span class="content-name">Contraseña</span>
                    </label>
                  </div>
  
                </div>
              </div>
              <a class="forgot-password" href="#">¿Has olvidado tu contraseña?</a>
              <button type="button" class="btn">Iniciar Sesion</button>
              <a href="#modal2" class="modal__text2 links " role="button">O registrarte</a>
            </div>
          </div>
        </div>
      </div>
  
      <div id="modal2" class="modal2">
        <div class="form-container">
          <div class="modal__body">
            <a href="#" class="modal__close">&times;</a>
            <div class="formule">
              <h1>Registrarse</h1>
              <div class="form-container__social">
                  <a href="#" class="social social social--g"><span class="icon-google"></span></a>
                  <a href="#" class="social social--f"><span class="icon-facebook-square"></span></a>
                  <a href="#" class="social social--t"><span class="icon-twitter"></span></a>
              </div>
  
              <div class="form">
                <div class="form-name">
                  <input required class="form__input" type="password" name="name" value="">
                  <label class="form__label label-name" for="name">
                    <span class="content-name">Nombre</span>
                  </label>
                </div>
              </div>
  
              <div class="form">
                <div class="form-name">
                  <input required class="form__input" type="email" name="name" value="">
                  <label class="form__label label-name" for="name">
                    <span class="content-name">Email</span>
                  </label>
                </div>
  
              </div>
              <div class="form">
                <div class="form-name">
                  <input required class="form__input" type="password" name="name" value="">
                  <label class="form__label label-name" for="name">
                    <span class="content-name">Contrase単a</span>
                  </label>
                </div>
  
              </div>
              <button type="button" class="btn">registrarse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>