  <div class="body">
  <main class="container">
    <div *ngIf="!isLogged" class="step-1">
      <div class="step-text">
        <div class="step-icon"><i class="fas fa-user"></i></div>
        <h3>1.Añadir Cuenta</h3>
      </div>
      <div class="form-container__social">
        <a  (click)="onLoginGoogle()" role="button" class="social social--g"><span class="icon-google"></span></a>
        <a (click)="onLoginFacebook()"  class="social social--f"><span class="icon-facebook-square"></span></a>
        <a href="#" class="social social--t"><span class="icon-twitter"></span></a>
      </div>

      <div class="user-sesion">
        <h4 id="text-user-register" (click)="addRegisterMenu()" class="active">Registrarse</h4>
        <span></span>
        <h4 id="text-user" (click)="addUserMenu()" >Iniciar Sesion</h4>
      </div>

      <div>
      <form [formGroup]="registerForm"  id="register-form"  (ngSubmit)="onRegister()" >
        <div class="container-form">
        <div class="form">
            <div class="form-name">
              <input formControlName="name" required class="form__input" type="name" name="name" value="">
              <label class="form__label label-name" for="name">
                <span [class.invalid]="registerForm.controls.name.invalid && registerForm.controls.name.dirty" class="content-name">Nombre</span>
              </label>
            </div>
          </div> 

          <div class="form">
            <div class="form-name">
              <input formControlName="email" required class="form__input" type="text" name="email" value="">
              <label class="form__label label-name" for="email">
                <span [class.invalid]="registerForm.controls.email.invalid && registerForm.controls.email.dirty"  class="content-name">Email</span>
              </label>
            </div>
          </div>

          <div class="form">
            <div class="form-name">
              <input formControlName="password" required class="form__input" type="password" name="password" value="">
              <label class="form__label label-name" for="password">
                <span [class.invalid]="registerForm.controls.password.invalid && registerForm.controls.password.dirty" class="content-name">Contraseña</span>
              </label>
            </div> 
          </div>

          
          <div class="error" *ngIf="errorsRegister" >
            {{errorsRegister}}!
          </div>

     
        <button [disabled]="!registerForm.valid"  type="submit" class="btn">Registrarse</button>
 
        </div>
      </form>


      <form [formGroup]="loginForm" id="user-form" (ngSubmit)="onLoginMail()" class="hide">
        <div class="container-form">
        <div class="form">
            <div class="form-name">
              <input formControlName="email" required class="form__input" type="text" name="email">
              <label class="form__label label-name" for="email">
                <span [class.invalid]="loginForm.controls.email.invalid && loginForm.controls.email.dirty" class="content-name">Email</span>
              </label>
            </div>
          </div>

          <div class="form">
            <div class="form-name">
              <input  formControlName="password" required class="form__input" type="password" name="password" value="">
              <label class="form__label label-name" for="password">
                <span [class.invalid]="loginForm.controls.password.invalid && loginForm.controls.password.dirty" class="content-name">Contraseña</span>
              </label>
            </div>
          </div>

          <div class="error" *ngIf="errors" >
            {{errors}}!
          </div>


        
          <button [disabled]="!loginForm.valid"  type="submit" class="btn">Iniciar Sesion</button>
       
      </div>
      </form>

    </div>

    </div>

    <form *ngIf="isLogged" [formGroup]="orderForm" (ngSubmit)="createOrder()">
      <div class="container-form2" >
    <div class="step-1">
      <div>
        <div class="step-text">
          <div class="step-icon"><i class="fas fa-map-marker-alt"></i></div>
          <h3>2.Añadir Direccion</h3>
        </div>
      </div>

      <div class="form">
        <div class="form-mail">
          <input formControlName="street"  required class="form__input" type="text" name="street" value="" />
          <label class="form__label label-name" for="street">
            <span [class.invalid]="orderForm.controls.street.invalid && orderForm.controls.street.dirty" class="content-name">Calle y Numero*</span>
          </label>
        </div>
      </div>

      <div class="name-and-surname">

    

        <div class="form ">
          <div class="form-mail">
            <input formControlName="flat"  required class="form__input" type="text" name="flat" value="" />
            <label class="form__label label-name" for="flat">
                 <span [class.invalid]="orderForm.controls.flat.invalid && orderForm.controls.flat.dirty" class="content-name">Casa / Piso*</span>
            </label>
          </div>
        </div>
  </div>

      <div class="form">
        <div class="form-mail">
          <input formControlName="phone" required class="form__input" type="tel" name="phone" value="" />
          <label class="form__label label-name" for="phone">
            <span [class.invalid]="orderForm.controls.phone.invalid && orderForm.controls.phone.dirty" class="content-name">Telefono*</span>
          </label>
        </div>
      </div>

      <div class="name-and-surname">
        <div class="form form-md">
          <div class="form-mail">
            <input formControlName="city"  required class="form__input" type="text" name="city" value="" />
            <label class="form__label label-name" for="city">
              <span  [class.invalid]="orderForm.controls.city.invalid && orderForm.controls.city.dirty" class="content-name">Ciudad*</span>
            </label>
          </div>
        </div>

        <div class="form form-md">
          <div class="form-mail">
            <input formControlName="zip" required class="form__input" type="text" name="cp" value="" />
            <label class="form__label label-name" for="cp">
              <span [class.invalid]="orderForm.controls.zip.invalid && orderForm.controls.zip.dirty" class="content-name">Codigo Postal*</span>
            </label>
          </div>
        </div> 
      </div>

    </div>

    <div class="step-1">
      <div>
        <div class="step-text step-pay ">
          <div class="step-icon"><i class="far fa-credit-card"></i></div>
          <h3>3.Metodo de pago</h3>

        </div>
        
      </div>

      <label class="lab-container">
        <div class="icon-paypal"><i class="fab fa-cc-stripe"></i></div>
        <input type="radio" checked="checked" name="radio" />
        <span class="checkmark"></span>
      </label>

      <div class="form">
        <div class="form-mail">
          <input formControlName="cardNumber" required class="form__input" type="text" name="number" value="" />
          <label class="form__label label-name" for="number">
            <span [class.invalid]="orderForm.controls.cardNumber.invalid && orderForm.controls.cardNumber.dirty" class="content-name">Numero de Tarjeta*</span>
          </label>
        </div>
      </div>

      <div class="name-and-surname">
        <div class="form form-md">
          <div class="form-mail">
            <input formControlName="cardName" required class="form__input" type="text" name="name" value="" />
            <label class="form__label label-name" for="name">
              <span [class.invalid]="orderForm.controls.cardName.invalid && orderForm.controls.cardName.dirty"   class="content-name">Titular*</span>
            </label>
          </div>
        </div>

        <div class="form form-xs">
          <div class="form-mail">
            <input formControlName="cardCcv"  required class="form__input" type="text" name="code" value="" />
            <label class="form__label label-name" for="code">
              <span [class.invalid]="orderForm.controls.cardCcv.invalid && orderForm.controls.cardCcv.dirty" class="content-name">CCV*</span>
            </label>
          </div>
        </div>
      </div>




      <h3  class="total-text" >Total:<span class="total-numbers" >{{totalAmmount | currency: " " }}€ </span> </h3>
      
      <div class="btn-end">
        <button [disabled]="!orderForm.valid" type="submit" class="modal__text disabled" >Realizar pago</button>
      </div>
    </div>

    </div>

    <div>

    </div>

    </form>

    <div *ngIf="isLogged" class="paypal-btn">
      <div  *ngIf="paypalLoaded"  id="paypal-checkout-btn"  ></div>
  </div>

    





  </main>
  <app-footer></app-footer>
</div>
