@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  overflow: unset;
}
.fuera{
  background-color: #3FC1C9;
  opacity: 1;
  overflow: auto;
}

a{
  text-decoration:none;
}
nav {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.media-icon{
  font-size: 26px;
}


.btn{
  border-radius: 20px;
  border: 1px solid #3FC1C9;
  background-color: #3FC1C9;
  color: #f5f6fa;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 16px;
  margin-top: 25px;
  padding: 12px 65px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 30s ease-in;
}

.btn--category{
  padding: 12px 12px;
  background-color: #fff;
  color: #333;
  letter-spacing: 0px;
  margin: 0;
 flex: none;
 margin-left: 3px;
}


app-home{
    display: block;
    background-image: url('https://image.freepik.com/foto-gratis/marco-plano-laico-granos-fondo-estuco_23-2148287506.jpg');
    width: 100%;
    height: 120%;
    background-repeat: no-repeat;
    position: absolute;
}
#home-section{
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media screen and (min-width: 1024px){
  app-home {
    display: block;
    width: 100%;
    height: calc(100vh - 65px);
    background-image: url('http://www.caterinadiet.com/img/cms/Slider%202.png');
    background-size: cover;
    position: absolute;
  }
  #home-section{
    padding: 0;
  }
}

